.contact-container{
  width: 400px;
  margin: 0px auto;

  input{
    width: 100%;
    border: 1px solid white;
  }

  form{
    width: 100%;
  }

  textarea{
    width: 100%;
    border: 1px solid white;
  }
}
