.contact{
  margin-top: 100px;
}

textarea:focus, input:focus{
    outline: none;
}

.contact-container{

  width: 400px;
  margin: 0px auto;

  ::-webkit-input-placeholder{
    color: white;
    opacity: 0.6;
  }

  :-moz-placeholder{
    color: white;
    opacity: 0.6;
  }

  ::-moz-placeholder{
    color: white;
    opacity: 0.6;
  }

  :-ms-input-placeholder{
    color: white;
    opacity: 0.6;
  }

  input{
    width: 100%;
    padding: 8px 8px 8px 0;
    position: relative;
    z-index: 2;

    &:after{
      content: "";
      width: 15px;
      height: 3px;
      background-color: white;
      position: absolute;
      bottom: 0px;
      left: 0px;
    }

    &:focus{
    }
  }

  form{
    width: 100%;
  }

  textarea{
    width: 100%;
    border: 2px solid white;
    position: relative;
    z-index: 2;
    padding: 10px;
  }

  input:hover + span, input:focus + span{
    width: 100%;
  }

  input:focus + span + label{
    transform: translate(0px, -15px);
    @include font-size(11);
  }


  input[type="text"]:valid + span, input[type="email"]:valid + span{
    width: 100%;
  }

  input[type="text"]:valid + span + label, input[type="email"]:valid + span + label{
    transform: translate(0px, -15px);
    @include font-size(11);
  }
}



.input-holder{
  position: relative;

  span{
    display: inline-block;
    width: 20px;
    height: 2px;
    float: left;
    background-color: white;
    transition: width 0.5s ease;
  }

  & + .input-holder {
    margin-top: 35px;
  }


  label{
    @include font-size(16);
    color: white;
    position: absolute;
    top: 9px;
    left: 0px;
    z-index: 1;
    transition: all 0.2s ease;
  }
}
